*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid tomato; */
}

body{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* align-items: center; */
    justify-content: center;
    background-color: #336089;
    z-index: 0;
}

header{
    width: 100%;
    display: grid;
    grid-column: 1 / 5;
    z-index: 1;
}

.header_warning{
    display: flex;
    margin: 20px;
    width: 96%;
    background-color: #245681;
    border-radius: 20px;
    gap: 50px;
}

.header_warning_image{
    img{
        width: 180px;
        height: 120px;
    }
}

.header_warning_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    color: white;
}

.header_warning_close{
    margin-top: 10px;
    a{
        color: white;
        text-decoration: none;
    }
}

.logo_class{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo_class_image{
    margin-top: 20px;
    img{
        width: 500px;
        height: 120px;
    }
}

.logo_class_form{
    display: flex;
    gap: 20px;
    input{
        width: 720px;
        height: 30px;
    }
    button{
        padding: 5px 10px;
        cursor: pointer;
    }
}

main{
    width: 100%;
    display: grid;
    grid-column: 1 / 5;
    z-index: 1;
    margin-top: 30px;
}

.section_tabs{
    width: 90%;
    div{
        display: flex;
        gap: 40px;
        a{
            padding: 20px 80px;
            background-color: #245681;
            border: 1px solid white;
            border-radius: 10px;
            color: white;
            text-decoration: none;
            font-size: 20px;
            box-shadow: 2px 2px 5px black;
            cursor: pointer;
        }
    }
}

.section_titles{
    width: 100%;
    display: flex;
    padding: 10px;
    gap: 40px;
    margin-top: 30px;
    grid-column: auto;
}

.section_titles_images{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section_categories{
    width: 90%;
    margin-top: 40px;
    h3{
        display: flex;
        justify-content: center;
        font-size: 24px;
        color: gold;
    }
}

.categories_group{
    margin-top: 15px;
    display: flex;
    div{
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        a{
            padding: 10px 90px;
            color: white;
            text-decoration: none;
            font-size: 20px;
            box-shadow: 2px 2px 5px black;
            cursor: pointer;
            background-color: #245681;
        }
    }
}